body
{
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", Arial, sans-serif;
  letter-spacing: 0.5px;
}

/* SITE-HEADER */
.sitenav-list
a
{
  background-color: #ffffff;
  color: #000;
}

/* SITENAV  */
.sitenav-list
{
  list-style: none;
}

.sitenav-link
{
  font-size: 13px;
  line-height: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

/* MAIN-LINK */
.register
a
{
  font-size: 13px;
  line-height: 15px;
  background-color: #FF7500;
  color: #FFFFFF;
  text-decoration: none;
}

/* HERO */
.rectangle
{
  background-color: #252420;
  color: #FFFFFF;
}

.orange-line
{
  width: 80px;
  height: 3px;
  background-color: #FF7500;
}
.hero-heading
{
  width: 440px;
  font-size: 72px;
  letter-spacing: 0.5px;
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* FEATURES */
.features-heading
{
  width: 435px;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: 0.5px;
}

.primary-button
a
{
  text-decoration: none;
  background-color: #FF7500;
  color: #FFFFFF;
}

ul
{
  list-style: none;
}

.feature-cursor
img
{
  background-color: #FF750033;
}

.feature-title
{
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.5px;
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
}

.feature-sparkles
img
{
  background-color: #FF750033;
}

.feature-lightning-bolt
img
{
  background-color: #FF750033;
}

.sale-bg
{
  background-color: #252420;
  color: #FFFFFF;
}

.promo-heading
{
  font-size: 40px;
  line-height: 48px;
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
}

.aksiya-kitob
{
  color: #FF7500;
}

.aksiya-som
{
  color: #FF7500;
}

.primary-button
a
{
  background-color: #FF7500;
  color: #FFFFFF;
}

.site-footer-bottom
a
{
  width: 224px;
  line-height: 19px;
  font-weight: 400;
  text-decoration: none;
  background-color: #FFFFFF;
  color: #000;
}
