body
{
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", Arial, sans-serif;
  letter-spacing: 0.5px;
}

.site-header
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.opasity-logo
{
  transition: 0.4s;
}

.opasity-logo:hover
{
  opacity: 0.8;
}

.opasity-logo:active
{
  opacity: 0.6;
}

.site-header-actions
{
  display: flex;
  align-items: center;
}

/* SITE-HEADER */
.sitenav-list
a
{
  background-color: #ffffff;
  color: #000;
}

/* SITENAV  */
.sitenav-list
{
  display: flex;
  list-style: none;
}

.sitenav-link-hover
{
  transition:color 0,4s ease,
    opacity 0.4s ease;
}

.sitenav-link-hover
{
  transition: 0.4s;
}

.sitenav-link-hover:hover
{
  color: #FF7500;
}

.sitenav-link-hover:active
{
  opacity: 0.6;
}

.sitenav-link
{
  font-size: 13px;
  line-height: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

/* MAIN-LINK */
.register
a
{
  font-size: 13px;
  line-height: 15px;
  background-color: #FF7500;
  color: #FFFFFF;
  text-decoration: none;
}

.main-link
{
  transition: opacity 0.4s ease;
}

.main-link:hover
{
  opacity: 0.8;
}

.main-link:active
{
  opacity: 0.6;
}

/* HERO */
.rectangle
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #252420;
  color: #FFFFFF;
}

.orange-line
{
  width: 80px;
  height: 3px;
  background-color: #FF7500;
}
.hero-heading
{
  width: 440px;
  font-size: 72px;
  letter-spacing: 0.5px;
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 700px;
  font-style: normal;
}

/* FEATURES */
.features-heading
{
  width: 435px;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: 0.5px;
}

.feature-list
{
  display: flex;
  justify-content: space-between;
}

.primary-button
a
{
  text-decoration: none;
  background-color: #FF7500;
  color: #FFFFFF;
}

ul
{
  list-style: none;
}

.feature-cursor
img
{
  background-color: #FF750033;
}

.feature-title
{
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.5px;
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
}

.feature-sparkles
img
{
  background-color: #FF750033;
}

.feature-lightning-bolt
img
{
  background-color: #FF750033;
}

.sale-bg
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #252420;
  color: #FFFFFF;
}

.promo-heading
{
  font-size: 40px;
  line-height: 48px;
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
}

.aksiya-kitob
{
  color: #FF7500;
}

.aksiya-som
{
  color: #FF7500;
}

.primary-button
a
{
  background-color: #FF7500;
  color: #FFFFFF;
}

.site-footer-top
{
  display: flex;
  justify-content: space-between;
align-items: center;
}

.site-footer-link-rang
{
  transition:color 0,4s ease,
    opacity 0.4s ease;
}

.site-footer-link-rang
{
  transition: 0.4s;
}

.site-footer-link-rang:hover
{
  color: #FF7500;
}

.site-footer-link-rang:active
{
  opacity: 0.6;
}



.site-footer-socials
{
  display: flex;
  justify-content: center;
}

.site-footer-socials
a
{
  color:#252420;
}


.site-footer-bottom
{
  display: flex;
}
.site-footer-links
a
{
  width: 224px;
  line-height: 19px;
  font-weight: 400px;
  text-decoration: none;
  background-color: #FFFFFF;
  color: #000;
}
